


<h2>Ficha de cadastro </h2>
<div class="row">
    <fieldset class="alert-info">
        <legend>Dados iniciais</legend>
        <form>

            <div class="form-group col-md-10">
                <label class="control-label"><span class="text-primary">Nome</span></label>
                <input type="text" class="form-control" />

            </div>

            <div class="form-group col-md-2">
                <label class="control-label"><span class="text-primary">Nascimento</span></label>
                <input type="date" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label class="control-label"><span class="text-primary">CPF</span></label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <label class="control-label"><span class="text-primary">RG</span></label>
                <input type="text" class="form-control" />
            </div>
        </form>


    </fieldset>
</div>
