@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<address>
    <strong>Eduardo Neves:</strong> <a href="mailto:edudas34@gmail.com">edudas34@gmail.com</a>
    <strong>Suporte:</strong> <a href="mailto:stenioneves@outlook.com">Suporte sistêmico</a><br />
</address>
